.pagconstrucao {
  padding-top: 7rem;
  /* flex: 1;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tituloBox {
  font-family: "Montserrat", sans-serif;
  color: var(--neutral);
  letter-spacing: 0.125rem;
  max-width: 35rem;
}

.tituloConstrucao {
  font-size: 3.125rem;
  font-weight: 800;
}

.subtituloConstrucao {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.25rem;
  margin-top: 1.5rem;
}
