footer {
  background-color: var(--secondary);
  padding: 2rem 0;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 0.5rem; */
  padding-right: 2rem;
  gap: 1rem;
}

.infoMiaus ul {
  flex-direction: column;
}

.infoContatos ul {
  flex-direction: row;
}

footer li {
  cursor: pointer;
  font-weight: 700;
}

footer .infoContatos,
footer .infoMiaus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.infoContatos p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  max-width: 20rem;
}

.infoContatos li i {
  font-size: 2rem;
}

.footer-copy {
  text-align: center;
  margin: 0;
}
