* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

:root {
  --primary: #65c3c8;
  --secondary: #ef9fbc;
  --accent: #eeaf3a;
  --neutral: #291334;
  --base: #faf7f5;
  --info: #3abff8;
  --success: #36d399;
  --warning: #fbbd23;
  --error: #f87272;
}

body {
  background-color: var(--base);
}

.navbar {
  background-color: rgb(250, 247, 245, 0.6);
}

.navbar a {
  color: var(--neutral);
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.navbar .nav-link:hover {
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secondary);
  border-radius: 4px;
}

.navbar li {
  padding: 0.8rem;
}

.barraPesquisa {
  margin-top: 9.31rem;
  margin-left: 4.81rem;
  width: 50.375rem;
  height: 4.5625rem;
  border-radius: 1.25rem;
  background: rgba(221, 221, 221, 0.7);
}

.barraPesquisa select {
  width: 8.625rem;
  height: 2.375rem;
  border: none;
  border-radius: 0.625rem;
  background: #faf7f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}

.barraPesquisa label {
  color: #7a7a7a;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}

.btnPesquisar {
  width: 8.625rem;
  height: 3.125rem;
  background-color: var(--warning);
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--base);
  border-radius: 0.625rem;
  border: none;
}

.btnPesquisar img {
  padding-right: 0.5rem;
}

.slogan {
  margin-top: 4.25rem;
  margin-left: 4.81rem;
  color: var(--neutral);
  font-family: "Montserrat", sans-serif;
  font-size: 2.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: 0.0125rem;
  width: 43.9375rem;
}

.imgPgInicial img {
  /* margin-top: -46.75rem;
  margin-left: 60rem; */
  margin-top: -52.75rem;
  margin-left: 57rem;
}

.boxProdutos,
.boxServicos {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  letter-spacing: 0.0125rem;
  color: var(--neutral);
  text-align: center;
  width: 42rem;
  margin-left: 5.81rem;
  margin-top: 3rem;
}

.boxProdutos h2,
.boxServicos h2 {
  font-size: 1.5625rem;
  font-weight: 700;
}

.boxProdutos h3,
.boxServicos h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

.boxProdutos ul,
.boxServicos ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5rem;
}

.boxProdutos li,
.boxServicos li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 7.9375rem;
  height: 4.33369rem;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0.8rem;
}

.boxProdutos li:nth-child(-n + 2),
.boxServicos li:nth-child(-n + 2) {
  background-color: var(--secondary);
}

.boxProdutos li:nth-child(3),
.boxProdutos li:nth-child(4),
.boxServicos li:nth-child(3),
.boxServicos li:nth-child(4) {
  background-color: var(--primary);
}

.boxProdutos a,
.boxServicos a {
  font-weight: 700;
  text-decoration: none;
  color: var(--neutral);
}

.boxProdutos a {
  font-size: 0.9375rem;
}

.boxServicos a {
  font-size: 0.8125rem;
}

.boxProdutos {
  height: 11.02119rem;
}

.boxServicos {
  height: 17.375rem;
}

.boxServicos li:nth-last-child(-n + 3) {
  background-color: var(--accent);
}

/* Footer */
.footerBox {
  display: flex;
  flex-direction: column;
  height: 21.125rem;
  width: 100%;
  padding: 4rem 18rem 1rem;
  justify-content: space-between;
  background-color: var(--secondary);
  font-family: "Montserrat", sans-serif;
  color: var(--base);
}

.footerInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
}

footer li {
  list-style: none;
}

.infoContatos {
  display: flex;
  width: 18.4375rem;
  height: 11.9375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5625rem;
}

.infoContatos h3,
.infoMiaus h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.00625rem;
  text-align: center;
}

.infoContatos p {
  width: 18.4375rem;
  height: 4.5rem;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.0125rem;
}

.infoContatos ul {
  padding-right: 2.5rem;
}

.infoContatos li {
  padding: 0.6rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.infoMiaus {
  display: flex;
  width: 18.4375rem;
  height: 11.9375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.infoMiaus ul {
  flex-direction: column;
  padding-right: 2.5rem;
}

.infoMiaus li {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  text-align: center;
  cursor: pointer;
  padding-top: 0.5rem;
}

.infoMiaus li:last-child {
  margin-bottom: 2rem;
}

.footerDev {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
  text-align: center;
}
/* -------------------------------------------------------------------------------- */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
