* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

:root {
  --primary: #65c3c8;
  --secondary: #ef9fbc;
  --accent: #eeaf3a;
  --neutral: #291334;
  --base: #faf7f5;
  --info: #3abff8;
  --success: #36d399;
  --warning: #fbbd23;
  --error: #f87272;
}

body {
  background-color: var(--base);
}

.navbar {
  background-color: rgb(250, 247, 245, 0.6);
}

.navbar a {
  color: var(--neutral);
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.navbar .nav-link:hover {
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secondary);
  border-radius: 4px;
}

.navbar li {
  padding: 0.8rem;
}

.barraPesquisa {
  margin-top: 9.31rem;
  margin-left: 4.81rem;
  width: 50.375rem;
  height: 4.5625rem;
  border-radius: 1.25rem;
  background: rgba(221, 221, 221, 0.7);
}

.barraPesquisa select {
  width: 8.625rem;
  height: 2.375rem;
  border: none;
  border-radius: 0.625rem;
  background: #faf7f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}

.barraPesquisa label {
  color: #7a7a7a;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
}

.btnPesquisar {
  width: 8.625rem;
  height: 3.125rem;
  background-color: var(--warning);
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--base);
  border-radius: 0.625rem;
  border: none;
}

.btnPesquisar img {
  padding-right: 0.5rem;
}

.slogan {
  margin-top: 4.25rem;
  margin-left: 4.81rem;
  color: var(--neutral);
  font-family: "Montserrat", sans-serif;
  font-size: 2.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem; /* 151.515% */
  letter-spacing: 0.0125rem;
  width: 43.9375rem;
}

.imgPgInicial img {
  margin-top: -17.75rem;
  margin-left: 60rem;
}

footer {
  display: inline-flex;
  height: 21.125rem;
  width: 100%;
  padding: 0rem 12.1875rem;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  font-family: "Montserrat", sans-serif;
  color: var(--base);
}

/* .tamanhoFooter {
  display: flex;
  width: 65.375rem;
  justify-content: space-between;
  align-items: flex-start;
} */

footer li {
  list-style: none;
}

footer ul {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.infoContatos {
  /* padding-right: 1rem; */
}

.infoContatos ul {
  flex-direction: row;
}

.infoContatos li {
  padding: 0.6rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.infoMiaus ul {
  flex-direction: column;
}

.footerDev {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.0125rem;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
